*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #00226b, #000);
    color: silver;
}