#box {
            display: none;
            width: 300px;
            padding: 30px;
            margin-top: 20px;
            background-color: lightblue;
            border: 2px solid blue;
            text-align: center;
        }

        /* This class makes the box visible */
        .show-box {
            display: block !important;
        }